[2016-06-19 14:23] ISNIT0 opened #1 "Add documentation for config.json"

[2016-06-19 14:24] ISNIT0 opened #2 "Add documentation for output locations"

[2016-06-20 08:04] kelson42 opened #3 "Sanitize HTML title"
HTML titles contain characters which impair ZIM search by title. For example a title node looks like following:

`<title>&#8234;Balloons and Static Electricity&#8236; 1.1.3</title>`

I'm not sure about which character is represented by "&#8234;" and "&#8236;", but this would be helpful if They could be removed. We could for example have:

`<titleBalloons and Static Electricity - 1.1.3</title>`

[2016-06-23 08:44] ISNIT0 commented on #3
As discussed with @kelson42 offline, the special characters turn out to be LTR/RTL directional notation, so they should be left in.

Closing this issue :)

[2016-06-23 08:44] #3 closed

[2016-06-23 09:24] kelson42 commented on #3
These characters are now removed in zimwriterfs at the time of the ZIM creation.

[2016-06-25 09:27] kelson42 opened #5 "Script dies with"
With last "master" branch, I get:

[code]

[2016-06-25 09:36] ISNIT0 commented on #5
Working on it :) Turns out copying 16,000 files in NodeJS is hard!

[2016-06-25 15:17] kelson42 opened #6 "Favicon should be a 48x48 png"
Current favicon.ico should be converted to png

[2016-07-09 10:56] kelson42 opened #7 "Put screenshots on the Google Play store"
the current one are not related.

[2016-08-04 06:33] kelson42 commented on #7
done

[2016-08-04 06:33] #7 closed

[2016-08-04 14:05] ISNIT0 commented on #7
+1

[2016-08-18 18:10] ariel-phet opened #8 "Best contact for discussion with PhET team?"
Hello,

I am the Director of Development for the PhET interactive simulations project, who would be the best contact at your organization to have a discussion about the app you have up on Google play?

Thanks!

[2016-08-19 09:31] kelson42 commented on #8
Dear Ariel. Thank you for taking contact. Stéphane, a colleague of mine, has just sent you an invitation on LinkedIn so you later can have a phonecall.

[2016-08-19 15:41] ariel-phet commented on #8
Excellent, thank you! I have accepted his invitation and written him back on LinkedIn.

[2016-08-20 16:06] kelson42 commented on #8
@ariel-phet Ok, I close this ticket then :)

[2016-08-20 16:06] #8 closed

[2016-08-20 18:06] #6 closed

[2017-01-16 00:02] kelson42 commented on #5
@ISNIT0 I have still the same problem with master HEAD

[2017-01-16 00:03] kelson42 opened #9 "Welcome page is broken"
On Firefox with kiwix-serve. On Chromium it seems to work fine.

[2017-01-16 07:05] kelson42 opened #10 "Replace zimwriterfs with node-zimlib"
Should allow to be faster and easier to install
https://github.com/cscott/node-libzim

[2017-01-16 16:56] ISNIT0 commented on #5
Hmm, I'll try a different method of control flow

[2017-01-16 17:06] kelson42 commented on #5
@ISNIT0 I think that there is definitely somewhere a filehandle which is not closed properly,

[2017-01-16 18:12] ISNIT0 commented on #9
Odd. It always seems to work on Android - I'll take another look in a bit.

[2017-01-16 19:24] kelson42 commented on #5
Problem is now fixed. Generation of ZIM file for all languages works fined. THX

[2017-01-16 19:24] #5 closed

[2017-01-16 20:00] kelson42 opened #11 "Avoid duplicates in PNGs"
Each localized version of an experiment use the same PNG content, but in the ZIM, each localized experiment has its own copy of these PNG files.

For example:```

$ ls -la forces-and-motion-basics_*_27.png
-rw-r--r-- 1 kelson wikidev 338 Jan 16 19:53 forces-and-motion-basics_be_27.png
-rw-r--r-- 1 kelson wikidev 338 Jan 16 19:53 forces-and-motion-basics_bs_27.png
-rw-r--r-- 1 kelson wikidev 338 Ja

[2017-01-16 20:02] kelson42 commented on #9
This seems to happen if one language is in the ZIM file.

[2017-01-16 20:52] ISNIT0 commented on #11
Still some creation optimisations, but the quick fix was to just re-write to the same file based on MD5 hash

[2017-01-16 22:18] kelson42 commented on #11
Works fine, for all language the file still make around 150MB. What kind of optims do you still want to implement?

[2017-01-16 22:23] kelson42 opened #12 "Remove HTML comments in the HTML pages"
Is useless.

[2017-01-16 22:24] kelson42 opened #13 "Smarter deal with Phets licenses"
Each HTML as an extremely large window.phet.chipper.thirdPartyLicenseEntries variable. I think we should better just remove them an provide for each similuation a link to the original web page (to allow people to deal with the licenses). Maybe by putting a footer to the simulation? Or any other solution?

[2017-01-16 22:33] kelson42 opened #14 "Merge HTML files"
They seem to be the same except (between language versions) except the window.phet.chipper.strings value.

[2017-01-17 19:19] kelson42 opened #15 "Solution to build all ZIM files"
* One with all languages with the name phet_mul_all_2016-06.zim
* One per local language called for example phet_en_all_2016-06.zim

This is necessary to be able to automatically generate new versions one time a month.

[2017-01-19 21:38] #11 closed

[2017-01-19 22:50] #12 closed

[2017-01-19 22:50] #13 closed

[2017-01-19 22:50] #14 closed

[2017-01-21 07:31] kelson42 opened #16 "Remove useless Stuff in javascript"
* window.phet.chipper.dependencies
"//" comments

[2017-01-21 07:32] kelson42 opened #17 "Remove language select box if only one language available"

[2017-01-21 07:35] kelson42 opened #18 "Remove useless empty <script> nodes"
Lots of them in HTML
`<script type="text/javascript"></script>`

[2017-01-21 07:41] kelson42 opened #19 "Autodetect list of available language"
This would avoid to maintain the list manually.

[2017-01-21 11:01] kelson42 opened #20 "Delete base64-extraction git branch"
We do not use it anymore I think?

[2017-01-21 15:44] #15 closed

[2017-01-21 15:45] #20 closed

[2017-01-25 16:22] Popolechien opened #21 "Replace current logo"
We currently talking with PhET who would like to keep their current logo for University of Colorado material (they have their own app on iOS). They kindly offered that we used the attached as a replacement - for the Android and zim (well, pretty much everywhere the old logo was).

![phet](https://cloud.githubusercontent.com/assets/21675885/22298823/31208e14-e322-11e6-87ef-381c7c4a2258.png)

[2017-01-25 21:10] kelson42 commented on #9
With last version it works :)

[2017-01-25 21:10] #9 closed

[2017-01-25 22:30] kelson42 commented on #21
done

[2017-01-26 11:58] kelson42 opened #22 "Tune a bit the filename"
"phet_es_PE_all_2017-01.zim" should be "phet_es-pe_all_2017-01.zim"

[2017-01-26 20:05] kelson42 commented on #22
done

[2017-01-26 20:05] #22 closed

[2017-01-30 20:35] kelson42 commented on #21
We should also replace the logo in the banner in the zim

[2017-02-01 20:03] kelson42 opened #23 "Medata "language" is wrong"

[2017-02-04 16:54] kelson42 commented on #23
Is fixed now

[2017-02-04 16:54] #23 closed

[2017-02-04 16:55] kelson42 opened #24 "Single language ZIMs do not provide access to simulation"
Tested with IT and FR, the welcome page does not provide any activity thumbnails... whereas the version with all languages seems to work fine

[2017-02-05 11:11] ISNIT0 commented on #24
Its because your local storage is saving the incorrect language, this I'd a bug I need to fix, but not a problem in production.

[2017-02-05 11:11] ISNIT0 commented on #24
So you need to run localStorage.clear() in your browser then refresh

[2017-02-05 11:14] kelson42 commented on #24
@ISNIT0 I do not really understant why this is not a problem in Production?

[2017-02-05 11:16] ISNIT0 commented on #24
Sorry, I was thinking of the app. It's still a problem on kiwix-serve

On Sun, Feb 5, 2017, 11:15 Kelson <notifications@github.com> wrote:

[2017-02-05 12:46] kelson42 commented on #24
@ISNIT0 OK, probably a random prefix should be added to the js to avoid collisions in the storage variables names.

[2017-02-05 18:26] kelson42 commented on #24
@ISNIT0 works now :) THX

[2017-02-05 18:26] #24 closed

[2017-02-11 08:07] kelson42 opened #25 "No title for the index page"

[2017-02-11 17:36] #25 closed

[2017-02-13 07:13] Popolechien opened #26 "Old logo still appears when loading simulations"
I mean this logo:
![screenshot_2017-02-12-22-12-41](https://cloud.githubusercontent.com/assets/21675885/22874078/5863f776-f1c4-11e6-867a-53a3c8af24f8.png)

[2017-02-13 08:02] ISNIT0 commented on #26
That'll be fun - I'll take a look on Tuesday.

On Mon, Feb 13, 2017, 07:14 Popo le Chien <notifications@github.com> wrote:

[2017-02-26 20:45] kelson42 opened #27 "Better sizing and positioning of the content of the 'homepage'"
Control of the web frame (the main canvas in the WebView). The set of exercises fit the screen of my Samsung Galaxy C (a mid-range recent device) but there's too much white space and too much width of the whitespace on my Nexus 5X. I can drag the column of thumbnails of the exercises a long way right and left so they're mainly truncated. Better sizing and positioning of the content of the 'homepag

[2017-02-26 20:53] kelson42 opened #28 "Back resets language selection"
When I go 'back' from an exercise the language resets to English. It should stay in the selected language.

[2017-02-26 20:55] kelson42 opened #29 "Use local (script) to sort thumbnail on homepage"
Sort order of exercises: they're sorted by the English name of the exercise rather than in the local language, which I'd recommend instead.

[2017-02-26 20:57] kelson42 opened #30 "Remove useless menus"

[2017-02-26 20:58] kelson42 commented on #30
wrong project.

[2017-02-26 20:58] #30 closed

[2017-02-26 21:03] kelson42 opened #31 "Exercises without names"
Content labels: there are a couple of exercises seemingly without names. They happen to be duplicates.
Reported by @julianharty

[2017-02-26 21:04] kelson42 opened #32 "Missing exercices"

[2017-04-06 19:35] hayleynewton opened #33 "Compiling zim files uses a lot of processing power"
Command used - "npm run export"

This process seems to be using a lot of the CPU, see image below.
Macbook is running physically hot when compiling the zim file.

<img width="492" alt="screen shot 2017-04-06 at 20 27 22" src="https://cloud.githubusercontent.com/assets/17700924/24772138/12e118b0-1b08-11e7-84b5-ecda288755ee.png">

[2017-04-11 07:00] kelson42 opened #34 "Master branch dies"
Also the Docker image https://hub.docker.com/r/openzim/phet/

[code]

[2017-05-12 12:12] kelson42 commented on #33
@hayleynewton This looks pretty normal to me as the process is CPU/IO intensive. This tasks are necessary. I do not really understand what is wrong with getting a hot computer?

[2017-08-13 18:57] nobicycle opened #35 "ELIFECYCLE error. TypeError: Cannot read property 'split' of undefined"
$ npm -v
5.3.0

$ npm run transform

Compressing images, this will take a while
/home/archives/Education/Phet/phet/phet-master/steps/transform.js:92
    html = htmlSplit[0] + htmlSplit[1].split('// ### END THIRD PARTY LICENSE ENTRIES ###')[1];
                                      ^

TypeError: Cannot read property 'split' of undefined
    at removeStrings (/home/archives/Education/Phet/phet/phet-

[2017-08-13 19:03] kelson42 commented on #35
Thx for the report, will try to reproduce the bug.

[2017-08-13 19:23] kelson42 commented on #35
@nobicycle I can not reproduce the problem. What is your version of nodejs?
@ISNIT0 any idea?

[2017-08-14 01:50] nobicycle commented on #35
$ node -v
v8.2.1

I don't know whether the command sequence and aborts have anything to do with it.
First used 'npm run setup' and ran out of internet quota.
Next I ran 'npm run get' but noticed with all languages being pulled I would also run out of internet quota, so I aborted.
I edited the json file to limit the build to english and re-ran  'npm run get', which succeeded.
Then I ran ' npm run t

[2017-08-14 16:50] kelson42 commented on #35
@nobicycle Could you please clean everything, rerun things cleanly from the beginning and, if you still have an issue, publish here the whole set of command you run?

[2017-08-14 16:51] kelson42 commented on #35
@nobicycle BTW, what do you try to do? We publish already ZIM files in all languages you know? http://download.kiwix.org/zim/phet/

[2017-08-15 03:34] nobicycle commented on #35
Hi kelson42
Exactly! :-)
I already have phet_en.zim, downloaded from Kiwix but the file never opened properly, in more than one client. Here for example the Kizix client:

However, I just downloaded phet_en_2017-08.zim from the link you gave and it worked!!!

Thanks very much.

[2017-08-15 04:00] nobicycle commented on #35
I spoke prematurely.
The file opens but the opening screen presents no content index.
(Kiwix client)
![phet-opening-screen](https://user-images.githubusercontent.com/1372447/29301759-10124518-81b1-11e7-8255-ca5a89073ea6.png)

One has to use Search or Random to have a simulation running.

When I run Kiwix server and open Phet in a browser I get the following in the console:
![phet-console](https://

[2017-08-15 04:06] nobicycle commented on #35
The console log
[phet-127.0.0.1-1502769840895.log.txt](https://github.com/openzim/phet/files/1224110/phet-127.0.0.1-1502769840895.log.txt)

[2017-08-15 10:59] kelson42 commented on #35
@nobicycle Yes, the desktop version of Kiwix is a mess on that file. This is a known issue. Have you tried to enjoy it through the server (menu tools > server) ? Maybe it work better?

[2017-08-15 11:21] nobicycle commented on #35
Yes kelson42, the above screenshot is the Kiwix server and Opera browser. Also the same result with the python Zimply client.
Anyhow, thanks for the help. I am happy  PHET can be used via search in the Kiwix client, provided one knows the names of course (attached)
[phet-list.txt](https://github.com/openzim/phet/files/1224870/phet-list.txt)

[2017-09-14 19:07] kelson42 commented on #34
This seems to have been fixed.

[2017-09-14 19:07] #34 closed

[2017-09-14 19:07] kelson42 commented on #21
This has been done with the new welcome page.

[2017-09-14 19:07] #21 closed

[2017-09-14 19:09] kelson42 commented on #27
New home page looks completely different.

[2017-09-14 19:09] #27 closed

[2017-09-14 19:14] kelson42 commented on #33
@hayleynewton I don't think we can do much against this.

[2017-09-14 19:14] #33 closed

[2017-09-14 19:17] kelson42 commented on #17
This has been fixed.

[2017-09-14 19:17] #17 closed

[2017-09-14 19:21] kelson42 commented on #31
@julianharty Can not reproduce that problem. It probably has been fixed by @ISNIT0 in April. Please reopen the ticket with a concrete screenshot/example if you still can reproduce the problem.

[2017-09-14 19:21] #31 closed

[2017-09-14 19:22] kelson42 commented on #32
Unable to reproduce this problem.

[2017-09-14 19:22] #32 closed

[2017-09-14 19:26] kelson42 opened #36 "Preview should be displayed in one screen"
... I always have to scroll down to open the simulation. I think the screenshot and the buttons should be scalled to be all displayed on the screen - so no need to scroll.
![screenshot from 2017-09-14 21-24-23](https://user-images.githubusercontent.com/1029718/30451223-458e813a-9993-11e7-8c11-fafd26fbb1a9.png)

[2017-09-14 19:27] kelson42 opened #37 "Welcome page should be improved"
The welcome page works well but:
* It should be more fancy from the colors
* A few details should be improved on the design to make it more appealing.

[2017-09-14 19:35] kelson42 commented on #35
I have published new ZIM files and It works perfectly with kiwix-serve nightly version: http://download.kiwix.org/nightly/2017-09-13/

[2017-09-14 19:35] #35 closed

[2017-09-14 20:46] julianharty commented on #31
Will do, I had screenshots at the time, however I agree it's probably better to retest.

[2017-12-15 15:14] ISNIT0 commented on #26
Looks like I forgot I said that...

[2017-12-18 06:46] kelson42 opened #38 "PHeT content in Russian please."
_From @julianharty on December 17, 2017 19:18_

A user recently gave the Chemistry and Physics simulations app 1 star as it doesn't include Russian.
There seem to be around 50 of the HTML5 simulations available in Russian according to https://phet.colorado.edu/en/simulations/translated/ru so it'd be great to make these available for users who prefer Russian.

New review on Dec 17, 2017 at 10:18 AM

[2017-12-18 06:46] kelson42 commented on #38
This is to 90% a ZIM issue (if confirmed), should be moved to the phet scrapper git repo.

[2017-12-18 06:50] kelson42 commented on #38
We do not provide Russian, but online Phets web site either https://phet.colorado.edu/. There is nothing we can do here. Simulations should be translated first.

[2017-12-18 08:53] julianharty commented on #38
They _are_ translated e.g. https://phet.colorado.edu/sims/html/acid-base-solutions/latest/acid-base-solutions_ru.html

The site https://phet.colorado.edu/en/simulations/translated lists 136 translated SIMs `Russian | русский | 136`, of these 50 are HTML5

[2017-12-18 21:37] kelson42 opened #39 "Stranges logs"
Is everything OK, it seems the script relies on variables with `undefined` value.
[code]

[2017-12-18 21:41] kelson42 opened #40 "zimwriterfs seems unable to find a few fonts"
[code]

[2017-12-18 21:59] kelson42 commented on #38
@ISNIT0 I have added "ru" to the configuration file... but got a crash. Any idea about how to support more languages... looks like the stuff are translated in more languages that what we currently support.

[code]

[2017-12-19 17:17] ISNIT0 commented on #38
This error is happening because the scraper didn't find anything (I know, it should be clearer).
It screen scrapes this url: https://phet.colorado.edu/ru/offline-access
Which is a 404. It looks like not all the pages have been generated on PhET's end?
I'll take a look into how long it'll take to get this implemented.

[2017-12-19 17:35] ISNIT0 commented on #38
It seems the scraper will need a significant change to make it work. (Including figuring out a different way to get categories).

The scraper supports all languages in the 'Language' dropdown at the bottom of the page (as it needs translated categories etc.)

![image](https://user-images.githubusercontent.com/5173131/34170516-0c0b0f1e-e4e3-11e7-9e3c-9313ce734fb9.png)

[2017-12-19 18:35] kelson42 commented on #38
@ISNIT0 This was my first idea/asumption. But, for an unknown reason, it seems Phets has far more translations than what is displayed here.
@julianharty Maybe the solution is just to ask Phets why they do not put Russian (and other languages with many simulations translated) in that list?

[2017-12-21 08:50] kelson42 commented on #38
@ariel-phet Any idea why Phets Web site does not provide "Russian" in the language selector?

[2018-02-01 11:35] kelson42 opened #41 "Scraper is totally broken"
For some reason it seems not able anymore to retrieve the list of experience per language. I get for all languages ZIM files with 0 experiences.

[2018-02-01 11:59] ISNIT0 commented on #41
Just pushed a change - can you confirm it's now fixed please?

[2018-02-01 13:22] kelson42 commented on #41
@ISNIT0 Seems to be work again :) Thanks a lot!

[2018-02-01 13:22] #41 closed

[2018-08-17 07:41] kelson42 opened #42 "Broken with nodejs v10"
[code]

[2018-08-17 11:51] kelson42 commented on #42
@ISNIT0 You fix works fine, but now I have an other error, later.
[code]

[2018-08-26 08:38] kelson42 commented on #42
@ISNIT0 Any news on this would be really welcome. We have now 100.000+ downloads and 30.000+ active installation. We would like to release a new update of this app.

[2018-08-26 09:01] ISNIT0 commented on #42
@kelson42 Could you try the latest code please? 👍

[2018-08-26 14:51] kelson42 commented on #42
@ISNIT0 Thx, seems to work fine. I have computed new files and have put them online.

[2018-08-26 14:51] #42 closed

[2018-12-09 14:14] kelson42 opened #46 "The Phet Simulation scrapper has many security alerts"
https://github.com/openzim/phet/network/alerts

[2018-12-09 14:31] ISNIT0 commented on #46
Fixed in commit #ce8a5a2

[2018-12-09 14:32] #46 closed

[2019-02-11 11:02] kelson42 opened #47 "Use node-libzim"
To be more efficient and remove `zimwriterfs` dependency

[2019-05-15 08:52] rgaudin opened #48 "scraper crashes on container"
Followed the README for the container:

[code]
and got the following output:

[code]

As suggested in the above logs, I tried to update node and npm before starting the process

[code]

Got the following output

[code]

Is the container broken or am I using it wrong?

[2019-05-15 09:30] ISNIT0 commented on #48
This line is suspicious: `Got list of 0 simulations to fetch... Here we go! `

When I run without Docker I get `1675 simulations to fetch`

When I run in Docker I get the same thing you get

[2019-05-21 05:45] kelson42 commented on #48
Will try to fix that today

[2019-05-21 08:15] kelson42 opened #49 "Empty Phets ZIM files"
https://download.kiwix.org/zim/phet/phet_zh-cn_2019-05.zim has not experiments at all. Same problem with https://download.kiwix.org/zim/phet/phet_pt-br_2019-05.zim. Might be that the script can not handle properly the language code with a dash in the middle.

[2019-05-21 08:29] kelson42 commented on #48
@ISNIT0 I have updated to nodejs12 and last version of modules.  It is commited on git master. The stuff works for me locally but I alway s get the following error in the Docker container:
[code]

Any idea?

Whole end of log
[code]

[2019-05-21 08:43] ISNIT0 opened #50 "Use npm distributions of image compression libraries"
This would simplify installation, and the `Dockerfile`

Probably best to use the same tools as mwoffliner

[2019-05-21 08:44] ISNIT0 opened #51 "Setup an actual build system"

[2019-06-05 08:55] ISNIT0 commented on #48
Building a docker image with the latest code and running seems to be working fine.
@kelson42 Can we try re-publishing a docker image?

[2019-06-05 09:47] rgaudin commented on #48
👍 starts properly for me as well. @kelson42 ?

[2019-06-05 10:17] kelson42 commented on #48
great, new image built on Docker hub

[2019-06-05 10:17] #48 closed

[2019-06-16 10:33] kelson42 commented on #38
@ISNIT0 To me it looks like we don't get the list of supported languages the right way. We should get the list of languages fromhttps://phet.colorado.edu/en/simulations/translated

[2019-06-16 10:34] kelson42 commented on #19
Should probably come from https://phet.colorado.edu/en/simulations/translated

[2019-08-14 15:51] rgaudin opened #54 "Missing favicon in /-/favicon"
Although ZIM file contains a favicon, it's not available through the `/-/favicon` URI.

* [`/phet_en_2019-06/-/favicon`](http://library.kiwix.org/phet_en_2019-06/-/favicon) **does not exists**
* [`/meta?content=phet_en_2019-06&name=favicon`](http://library.kiwix.org/meta?content=phet_en_2019-06&name=favicon) **exists**

@kelson42 shouldn't the zim tool used by this scrapper take care of this? Othe

[2019-08-14 18:29] kelson42 commented on #54
Strongly suspect this is because https://github.com/openzim/zimwriterfs/issues/119. We should wait and see if fix that bug also fix this one.

[2019-08-27 15:59] rgaudin opened #55 "Use new tagging system"
In order to update ZIM files to the [new tagging system](https://wiki.openzim.org/wiki/Tags), please make sure your scraper:

* is using the lastest zimwriterfs (`1.3.5+` or `:latest` docker image). It supports new options and fixes important metadata (tags, favicon) and LZMA compression level.
* is including a `_category:xxx` tag (See [kiwix-tools#317](https://github.com/kiwix/kiwix-tools/issues/

[2019-12-15 15:47] kelson42 opened #65 ""Cancel" button does open the activity"
By the activity/experiment overview we have the description and two buttons: "Load" and "Cancel". "Cancel" does bring back anymore to the homepage, instead it loads the activity.

[2019-12-15 15:48] kelson42 opened #66 "Activity categories have vanished"
We have now only "all".

[2020-03-13 21:51] midik commented on #39
linked to #50

[2020-03-13 21:52] midik commented on #55
linked to #10

[2020-03-14 06:13] kelson42 commented on #10
@midik Link is wrong, this is the module https://www.npmjs.com/package/@openzim/libzim

[2020-03-14 17:20] #65 closed

[2020-03-16 12:54] midik commented on #10
struggling with this currently
![image](https://user-images.githubusercontent.com/6795530/76760262-60845380-679e-11ea-9642-9dd13cd96b08.png)

[2020-03-16 14:02] kelson42 commented on #10
@you have to specify the main page. This is a metadata. See how this is done in MWoffliner. Here is the list of all possible Metadata in a ZIM, https://wiki.openzim.org/wiki/Metadata

[2020-03-16 14:03] kelson42 commented on #10
In fact this is in the header, so this is not exactly a metdata, see https://wiki.openzim.org/wiki/ZIM_file_format#Header

[2020-03-16 14:08] kelson42 commented on #10
@midik See https://github.com/openzim/mwoffliner/blob/master/src/mwoffliner.lib.ts#L371

[2020-03-16 14:18] midik commented on #10
thank you for suggestions... actually, I already saw those above. Probably I just missed something, there's no magic, so I'm debugging :)

[2020-03-17 11:57] #40 closed

[2020-03-18 14:19] #50 closed

[2020-03-18 18:11] #39 closed

[2020-03-18 20:15] #10 closed

[2020-03-18 20:19] #49 closed

[2020-03-18 20:23] kelson42 commented on #1
@midik I think one time we retrieve the language dynamically then probably `config.json` will vanish (the few things left can be put in the code), and this one would be ready to close as well.

[2020-03-18 20:24] kelson42 commented on #47
Duplicate of #10

[2020-03-18 20:24] #47 closed

[2020-03-18 20:25] kelson42 commented on #19
@midik This would fix #38 as well, isn't it?

[2020-03-18 20:27] kelson42 commented on #51
@midik I see that we have a CI running with TravisCI... not sure what is then to be done! What is tested exactly? Do you see something essential missing?

[2020-03-18 20:43] midik commented on #19
yes, I think so.

[2020-03-19 07:34] kelson42 commented on #2
There is a sentence in the `README.md` telling that the ZIM files should be created in the `dist` directory. Sounds good to me.

[2020-03-19 07:34] #2 closed

[2020-03-19 07:38] kelson42 commented on #54
@midik This is bug is still there. Favicon is not at the right place like specified in [the spec](https://wiki.openzim.org/wiki/Metadata#Favicon). I assume this would be easy to fix.

[2020-03-19 18:25] midik commented on #55
@kelson42 I'm not sure what `flavour` would fit here

[2020-03-19 18:37] kelson42 commented on #55
There is no flavour for phets.

[2020-03-19 18:39] #55 closed

[2020-03-19 18:52] midik commented on #51
@kelson42
yes, we run build with Travis. However, I think it doesn't make sense as it currently implemented. In fact, we only run `tsc` checking only if `index.ts` is able to build, and nothing more. Since we have `tslint` while developing, `tsc` will never fail again :)
Considering this as a kind of functional test, I think we could check that all major steps (npm scripts) run without errors. For

[2020-03-19 19:05] midik commented on #54
not sure that bug is still here:
![image](https://user-images.githubusercontent.com/6795530/77104768-97bc6400-6a2d-11ea-8f89-0b1ab049d64b.png)
if so, could you please suggest how I can reproduce it?

[2020-03-19 19:08] midik commented on #1
related to #19

[2020-03-19 19:34] kelson42 commented on #51
@midik This sounds good, but we can not make a full run. This would be too long. Therefore we need to make a subset, maybe only one small language?

[2020-03-19 19:36] kelson42 commented on #54
I will check again then...

[2020-03-19 19:37] midik commented on #51
yes, that's exactly I mean and that's how I'm testing it locally. One (or two) languages and just subset of sims (using `slice()`)

[2020-03-19 19:38] midik commented on #51
also, we could test against running `docker build`, if it's meaningful for us at this point.

[2020-03-19 19:56] kelson42 commented on #51
Not in favour to run docker build, not so pertinent IMO.

[2020-03-20 13:40] kelson42 opened #80 "New unhandled promise warning"
[code]

[2020-03-20 13:52] kelson42 commented on #80
I think this happens if the directory `dist` is not available, but this is in the git repo, so my fault.

[2020-03-20 13:52] #80 closed

[2020-03-20 13:58] kelson42 commented on #54
@midik The `favicon.ico` is I guess the HTML page favicon, here we are talking about the ZIM `favicon.png` (see spec).

If I make `zimdup -l -i` I get the full log and you can see that the `favicon.png` is in the `I`  namespace:
[code]

You can as well see that by testing the file with `kiwix-serve`.

[2020-03-20 14:03] kelson42 commented on #66
@midik I have reopen the issue because after testing again I have remarked that the category labels were not translated properly in the selected language. It seems they are always in English.

[2020-03-21 14:26] kelson42 opened #81 "Night mode looks really weird on Android"
![Screenshot_20200320-224229](https://user-images.githubusercontent.com/1029718/77228532-5391a680-6b88-11ea-9e1a-056f3652e180.jpg)

[2020-03-21 17:12] kelson42 commented on #37
@midik Few remarks on this. For the moment I would:
* Remove the color filter on thumbnails
* make a pointer cursor over the thumbnails.

Do you have maybe proposals on your side to make this home page less buggy/more appealing?

[2020-03-21 17:19] kelson42 opened #82 "Kiwix-serve taskbar over the top of the simulation"
This might hide buttons ;( It is not clear to me if this is something to fix here or on Kiwix Serve.

![image](https://user-images.githubusercontent.com/1029718/77232283-61ebbc80-6ba0-11ea-9a89-b018e52164d4.png)

[2020-03-23 14:07] midik commented on #1
After cleaning up the config, it looks like the following:
[code]
Would be probably a good idea to remove all of these keys except `work` because most of the steps use it. The rest keys used only on `get` step so that could be placed directly into the code. Also, I think would be good solution to move `workers` key to `.env` and then remove this config file. Is this ok?

[2020-03-23 14:30] kelson42 commented on #1
@midik Agree.

[2020-03-25 15:19] midik commented on #1
`config.js` removed and migrated to `dotenv`
(not merged to master yet)

[2020-03-26 08:41] kelson42 opened #84 "Browser language should be detected"
And proper language should be loaded per default for the multilanguage ZIM, English otherwise. Of course if the language is chosen manually this should be kept.

[2020-03-26 12:56] kelson42 commented on #54
@midik Looks good now indeed.

[2020-03-26 12:56] #54 closed

[2020-03-27 11:23] kelson42 opened #85 "Introduce localization of the scraper"
If many translations come from the Phets web site, a few things are hardcoded in the app. We should have proper string files and then sync with Translatewiki.

[2020-03-29 09:47] midik commented on #37
I made that above, plus:
- made language and category selectors more clean;
- changed overlay's color to fit the common color style;
- made overlay's multi-line text carries to the next line better;
- slightly reduced overlay height;

[2020-03-29 09:56] #1 closed

[2020-03-29 09:56] #19 closed

[2020-03-29 09:56] #29 closed

[2020-03-29 09:56] #38 closed

[2020-03-29 09:56] #66 closed

[2020-03-29 10:00] kelson42 opened #86 "Release 2.0"
* tag the `master branch`
* Secure `README.md` is updated
* Update `Changelog`

[2020-03-29 10:01] midik commented on #81
after merging #83, I guess it looks descent now
@kelson42 closing this?

![Screenshot_20200329-125526](https://user-images.githubusercontent.com/6795530/77846233-434b7e00-71bd-11ea-9317-60ebe75b19e2.jpg)

[2020-03-29 10:04] kelson42 commented on #85
@translatewiki @nikerabbit @Abijeet What would be the best format here to use? Kiwix/openZIM has so far never used Translatewiki for a Node.js project!

[2020-03-29 10:05] kelson42 commented on #82
I think the root problem here is that the simulation is positioned with CSS `absolute` attribute.

[2020-03-29 10:08] kelson42 commented on #16
Not sure this is still a valid bug? Would like to get your opinion on it.

[2020-03-29 10:11] kelson42 commented on #26
@Popolechien Honestly I'm not really sure I want to fix that one.

First of all the logo appears in a few other places:
* Simulation thumbnail (a PNG)
* In each simulation on the bottom right corner.

Changing all of them is not really trivial... and I believe nobody really complained about that... So I would prefer to put it in "Won't fix". Does that sounds acceptable?

[2020-03-29 10:12] kelson42 commented on #18
@midik Do we still have that?

[2020-03-29 10:13] kelson42 opened #87 "Category selectbox value should be remembered"
Like the language selectbox value (but for all ZIMs).

[2020-03-29 10:15] midik commented on #18
yes, historically. I'll clean that up

[2020-03-29 10:16] kelson42 commented on #37
@midik Thank you. I re-open that one because I want:
* pointer to be a "hand" (clickable) hover the sim thumnails
* I want to remove the blue color filter (at least if the mouse is "hover). Maybe you have a preference here.

[2020-03-29 10:18] midik commented on #37
I made these two thing already...

[2020-03-29 10:22] kelson42 opened #88 "Visual improvments around select boxes"
I want to have the following:
* "category" box always under "language" box (not beside like today)
* Both boxes centered, but select boxes should be perfectly aligned vertically
* Label should be "Language" instead of "Selected language:"
* Label should be "Category" instead of "Categories"
* "All" in categories select box should be labeled with "" (empty string), like that this is perfectly trans

[2020-03-29 10:27] kelson42 commented on #81
@midik This has to be checked with the Kiwix Android app, you check with a browser.

[2020-03-29 10:31] kelson42 commented on #37
@midik I don't see it neither with Firefox nor with Chromium (using kiwix-serve). See screenshot (the mouse was over second simulation thumbnail):
![image](https://user-images.githubusercontent.com/1029718/77846838-2a40ce00-71b9-11ea-9872-f7a22cf90d65.png)

[2020-03-29 10:37] Popolechien commented on #26
The people at PhET did complain.

[2020-03-29 11:39] kelson42 opened #89 "phet_ti_2020-03 is completly empty for me"
We should not publish anything if no simulation is available... or does the problem that all simulations are not properly scraped for this language?

[2020-03-29 11:52] kelson42 commented on #26
@Popolechien Ok, this is really complicated to do for the moment. I guess if we want to do this kind fine graned think, we would need to transform totally the scraper and regenerate all the simulations from their source code on Github... Maybe for a version 3.0 if the success of what we do is confirmed!

[2020-03-29 12:32] kelson42 opened #90 "A few languages are not translated properly in the language list"
In think about "fu" and "sh". Why? Can we do something about it?

[2020-03-29 12:34] kelson42 opened #91 "Remove languages "dialects" from the "mul" ZIM file"
I see almost not value to have "es-pt", "es-es" if we have already "es". We should just provide "es"... same for other languages.

[2020-03-29 13:50] kelson42 opened #92 "Consider making the ZIM files base on the simulation code repositories"
https://github.com/phetsims

[2020-03-29 17:17] Popolechien commented on #26
Yeah - they asked a while back already, and I think they understand we're a small outfit. But it's good to have an answer at the ready if/when they ask why the trademarks haven't been separated as requested.

[2020-03-30 06:11] Abijeet commented on #85
Hi @kelson42

This library can be used to handle i18n - https://github.com/wikimedia/banana-i18n. It uses simple JSON files.

[2020-03-30 15:41] #16 closed

[2020-03-30 15:41] #18 closed

[2020-03-30 18:45] midik commented on #90
@kelson42 there's no category index page like `https://phet.colorado.edu/fr/simulations/category/physics` for these languages. So, `get` logic falls back to english with message:
[code]
I guess we can follow some other way (like #85) but I'm not sure this would be a priority at the moment. However, you're a captain ;)

[2020-03-30 21:01] #89 closed

[2020-03-30 21:02] #87 closed

[2020-03-31 14:08] #91 closed

[2020-03-31 14:17] kelson42 opened #97 "Stop writting a fulltext index"
This is not necessary (but the Xapian title index is). But we need first to have https://github.com/openzim/node-libzim/issues/34 implemented.

[2020-03-31 14:20] kelson42 commented on #90
Transforming the language ISO code to the language name in the language should IMO be done via a npm package.

[2020-03-31 14:25] midik commented on #90
Ah, yes. I just misunderstood so I was talking about the ways to get the categories tree for the languages which haven't translated originally.
Regarding of this task, sure, that's doable.

[2020-03-31 17:02] kelson42 commented on #82
@midik What is your feeling about the complexity of that task?

[2020-04-02 15:23] midik commented on #37
@kelson42 could some kind of caching causes that on your side?

(gif 7Mb)
![1](https://user-images.githubusercontent.com/6795530/78266427-715af600-750e-11ea-8d46-3a88bc67fc95.gif)

[2020-04-02 15:30] kelson42 commented on #37
@midik Really strange, it works here http://library.kiwix.org/phet_fr_2020-03/A/index.html but was definitly not working on my computer (even after purging cache). I'll close the ticket as something seems really wrong locally. Sorry for the burden.

[2020-04-02 15:30] #37 closed

[2020-04-02 15:45] midik commented on #88
is this still actual after closing #37 ?
![image](https://user-images.githubusercontent.com/6795530/78269097-ca785900-7511-11ea-8215-d4e0b6d899a4.png)

[2020-04-02 15:52] kelson42 commented on #88
@midik I mostly want to secure that is display like this in responsive mode / small screens. Could you secure that. For broader screen, it would be indeed better, just side by side (in particular now that you have removed the labels).

[2020-04-02 16:11] midik commented on #88
I took this into account with those changes so it looks descent down to 300px width ;)
![2](https://user-images.githubusercontent.com/6795530/78271026-50959f00-7514-11ea-98cf-c046129818ec.gif)

[2020-04-02 16:13] #88 closed

[2020-04-02 16:14] kelson42 commented on #88
Good, if you can just add a bit of margin left and right, so the select boxes never touch the borders like they do currently.

[2020-04-02 16:32] midik commented on #88
done - in master

[2020-04-03 00:43] midik commented on #51
still debugging

[code]

[2020-04-03 10:46] #51 closed

[2020-04-03 11:27] kelson42 commented on #84
This does not seem to work with https://download.kiwix.org/zim/phet/phet_mul_2020-04.zim. If I launch http://192.168.1.194:8181/phet_mul_2020-04/A/index.html in Firefox Private mode, I get language "Afrikaans" and it should be English (the one configured in the browser).

[2020-04-03 11:33] kelson42 commented on #36
This is still cut for me on Firefox (you see the scrollbar on the right)

![image](https://user-images.githubusercontent.com/1029718/78356054-25ac5900-75af-11ea-921a-4266c6b0b404.png)

[2020-04-03 11:48] kelson42 commented on #90
To me not fixed in https://download.kiwix.org/zim/phet/phet_mul_2020-04.zim

[2020-04-03 12:36] #84 closed

[2020-04-03 12:37] #36 closed

[2020-04-03 15:02] #86 closed

[2020-04-03 15:07] #90 closed

[2020-04-04 09:45] kelson42 opened #106 "ZIM date format is not correct"
It should be like spectified, see https://wiki.openzim.org/wiki/Metadata. But I see "2020-04-03T08:46:45.345Z"

[2020-04-06 13:41] #106 closed

[2020-06-25 13:32] kelson42 opened #111 "Phets scraper seems broken"
It runs but no ZIM file is anymore generated with `npm i && npm start`. Maybe the upstream web pages have changed?

[2020-07-30 10:56] #111 closed

[2021-02-13 16:41] holta opened #116 "PhET ZIM files contain incorrect date"
Example 1:

[phet_en_2021-01.zim](http://download.kiwix.org/zim/phet/phet_en_2021-01.zim)
[phet_es_2021-01.zim](http://download.kiwix.org/zim/phet/phet_es_2021-01.zim)
[phet_fr_2021-01.zim](http://download.kiwix.org/zim/phet/phet_fr_2021-01.zim)

...contain the date 2021-**_00-00_** when they should contain the date 2021-**_01-03_** &mdash; MM and DD are **both** off in January.
<br>
Example 2:

[

[2021-02-13 16:53] kelson42 commented on #116
Similar to #106.... a bit surprised it is still buggy.

[2021-02-15 08:14] kelson42 opened #118 "Migrating CI to Github"

[2021-02-15 08:14] kelson42 commented on #118
@MananJethwani

[2021-02-18 02:42] kelson42 commented on #118
Done

[2021-02-18 02:42] #118 closed

[2021-02-18 15:22] #116 closed

[2021-06-15 06:08] Jaifroid opened #127 "PhET experiments load Google Analytics script and other online content"
I was surprised to find my ad-blocker had blocked elements from a PhET experiment running in an offline ZIM (`phet_en_2021-06.zim`. On investigation it turns out that all experiments load a live Google Analytics script. See code snapshot below. Can this be removed at source? I think most users of offline ZIMs are pretty privacy conscious and not all Kiwix clients can automatically block external c

[2021-06-15 06:14] kelson42 commented on #127
wow, good catch, yes it has to be removed

[2021-06-15 06:27] Jaifroid commented on #127
OK. JFYI, the "other online content" referred to in the title of this issue are a couple of links back to phet.colorado.edu:

![image](https://user-images.githubusercontent.com/4304337/122003476-11670d00-cdab-11eb-9c86-e8db5f653c1e.png)

[2021-12-31 11:26] mossroy opened #134 "Remove inline javascript to comply with some CSP"
https://download.kiwix.org/zim/phet/phet_fr_2021-08.zim can not be used inside a Chrome/Chromium extension, because of the CSP the browser engine enforces.

The main page loads, but you're stuck on it as no category is displayed :

![image](https://user-images.githubusercontent.com/890923/147820781-e335866e-5fa1-4bd3-ba67-7183ddd265ee.png)

It is (at least) because of this inline javascript :

[co

[2022-05-22 15:09] holta opened #141 "Zimcheck returns errors: Broken links of `favicon.ico`"
I don't know if this is a bug report &mdash; or if this `zimcheck` failure is considered normal!?

Below is the output of `zimcheck -U phet_en_2021-08.zim` (which is the latest available from https://download.kiwix.org/zim/phet/).

[code]

The above returns error code 1, i.e. when you run `echo $?`

Here's the output of the full command `zimcheck phet_en_2021-08.zim`

[code]

FYI here's the output

[2022-05-22 16:41] holta commented on #141
Separately:

Does anybody know why new PhET ZIM files have [not been downloadable for 9 months](https://download.kiwix.org/zim/phet/) &mdash; despite https://farm.openzim.org/recipes/phet_mul_all appearing as "succeeded" every month since last August?

[2022-11-07 10:49] kelson42 commented on #141
@holta Phets scraper is currently broken

[2022-11-07 10:52] kelson42 commented on #141
@holta This is normal that `zimcheck` returns `1` as it seems to be an error in the HTML

[2022-11-07 10:54] kelson42 opened #145 "CD to npmjs.com"
Like on other scraper, look at mwoffliner

[2022-11-07 10:56] kelson42 commented on #127
Both of these entries should simply be removed IMO. None of them make sense in an offline context.

[2022-11-07 10:57] kelson42 commented on #82
This can not happen anymore with latest kiwix-serve 3.4.0

[2022-11-07 10:57] #82 closed

[2022-11-07 10:59] kelson42 opened #146 "CI is broken"
See https://github.com/openzim/phet/actions/workflows/ci.yml

Should be green

[2022-11-07 11:00] kelson42 opened #147 "Move to latest version of dependences"
Which implies probably:
* Use recent/latest version of Typescript
* Use ESM in place of commonJS

[2022-11-07 11:03] kelson42 opened #148 "Scraper does not generate proper ZIM files"
You can see it here:
https://farm.openzim.org/recipes/phet_mul_all

It seems to run successfuly, but not ZIM files are generated since a year or so

We should have a lot of ZIM files generated, at least one per language.

For sure the upsteram Web site has changed something which is the source of the problem. Might be trivial and quick to fix or maybe there is a few more things which have changed